*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

#skyer{
    animation: skyer 100s infinite linear;
}

#fly{
    animation: fly 50s linear;
}

#haar{
    animation: haar 10s linear;
}

@keyframes haar {

    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(100px, 10px, 0);
    }
}



@keyframes skyer{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(1900px, 0, 0);
    }
}

@keyframes fly{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(500px, -100px, -100px);
    }
}
